<div class="container">

  <bl-carousel-i18n
    [selectableLanguages]="selectableLanguages"
    [addNewLanguage]="addNewLanguage"
    [addNewResource]="addNewResource"
    [languages]="languages"></bl-carousel-i18n>

  <bl-carousel-slideshow [slideshow]="slideshow"></bl-carousel-slideshow>

  <bl-carousel-types [type]="type"></bl-carousel-types>

  <bl-carousel-settings [setting]="setting"></bl-carousel-settings>


  <div class="container inner-container">
    <h3 class="hr"> Items </h3>
    <div *ngFor="let item of items">
      <bl-carousel-item [itm]="item"></bl-carousel-item>
    </div>
    <button class="btn btn-primary btn-add-new pull-right addItem-btn" (click)="addItem()">Add new item</button>
  </div>
</div>

<div class="container">
  <div class="container inner-container">
    <button id="export" class="btn btn-primary pull-left ib rbMargin" (click)="inp.value=exportItems()">Export</button>
    <button id="import" class="btn btn-primary pull-left ib" (click)="importItems(inp.value)">Import</button>
    <textarea #inp class="result" placeholder="Result JSON"> </textarea>
  </div>
</div>
