<div class="container">

  <bl-carousel-slideshow [slideshow]="slideshow"></bl-carousel-slideshow>

  <bl-carousel-types [type]="type"></bl-carousel-types>

  <bl-carousel-settings [setting]="setting"></bl-carousel-settings>


  <div class="container inner-container">
    <h3 class="hr"> Items </h3>
    <div *ngFor="let item of items">
      <bl-carousel-item [itm]="item" [items]="items" [languages]="languages" ></bl-carousel-item>
    </div>
  </div>
</div>

<div class="container">
  <div class="container inner-container">
    <button class="btn btn-primary pull-left exportAndImport ib rbMargin"  (click)="inp.value=export()">Export</button>
    <button class="btn btn-primary pull-left ib exportAndImport" (click)="import(inp.value)">Import</button>
    <textarea #inp class="result" placeholder="Result JSON"> </textarea>
  </div>
</div>

