//Default sidebar, can be used in 2 or 3 column layouts.
.bl--layout-sidebar {
	background-color: $white;
	padding-top: $container-padding;
	border-left: $standard-border;
}

//an h3 that MUST be the title for the column
.bl--sidebar-title {
	@include clearfix;
	font-size: 16px;
	margin-bottom: $standard-margin;
	font-family: $font-bold;
	line-height: 1;
	display: inline-block;
	width: 100%;
	color: $black;

	//if title precedes an inline pill
	& + .bl--pill-inline {
		position: relative;
		bottom: 1px;
	}
}

//ALL content in the sidebar should be in a .bl--sidebar-section
.bl--sidebar-section {
	@include clearfix;
	padding: 20px;


	&:first-child {
		padding-top: 0;
	}

	//prevent a bottom padding from a section from doubling up with the top of the next element
	& + .bl--sidebar-section {
		padding-top: 0;
	}

	//sidebar buttons are only ever the large variant.  This is a fallback in case the class is omitted
	//@todo: update all buttons in the sidebar to use the correct class rather than styling based on context like this was.  bad idea.
	.bl--cta-button,
	.bl--cta-button-secondary {
		height: 40px;
		line-height: 40px;
	}
}


/* The previous styles may be deprecated, as they were built long before the current final design.  Leaving them for legacy usage @todo deprecate old sidebar code */

.bl--sidebar-sticky-header {
	position: fixed;
	left: 0;
	top: 0;
}

//half transparent gradient to imply content is scrolling under it, added to the top
@mixin scrolling-gradient-top {

	//gradient to separate scrolling content from the bottom of the tabs
	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 14px; //smaller height because the top of the sidebar is 15px tall
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
		z-index: $zindex-lowest;
	}

}

//half transparent gradient to imply content is scrolling under it, added to the bottom
@mixin scrolling-gradient-bottom {

	//gradient to separate scrolling content from the bottom of the scrolling area
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 20px;
		position: absolute;
		bottom: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
		z-index: $zindex-lowest;
	}


}