<div class="td-container hr">
  <h4 class="hr">Title</h4>
  <div class="row">
    <div class="col-lg-4">
      <label class="col-lg-12"> Css class :
        <input type="text" class="form-control" placeholder="Enter Css class" [(ngModel)]="title.cssClass" />
       </label>
    </div>
    <div class="col-lg-4">
      <label class="col-lg-12"> Style :
        <input type="text" class="form-control" placeholder="Enter Style" [(ngModel)]="title.style" />
       </label>
    </div>
    <div class="col-lg-4">
      <label class="col-lg-12"> Text :
        <input type="text" class="form-control" placeholder="Enter Text" [(ngModel)]="title.text" />
       </label>
    </div>
  </div>
</div>
