<div class="bl--form-region">
  <div class="bl--form-col-1-1">
    <h3>SlideShow</h3>
    <div class="bl--form-row">
			<div class="bl--form-subcol-1-3">
				<input type="checkbox" class="bl--checkbox" id="checkboxa1"  [(ngModel)]="slideshow.autoplay"/>
				<label class="bl--text-label" for="checkboxa1">
				  Autoplay
				</label>
			</div>
      <div class="bl--form-subcol-1-3">
			  <label class="bl--text-label">
				<div class="bl--text-label-text"> Interval : </div>
				<input type="number" step="100" min="0" class="bl--text-input" [(ngModel)]="slideshow.interval" />
			  </label>
			</div>
			<div class="bl--form-subcol-1-3">
			  <label class="bl--text-label">
				<div class="bl--text-label-text"> Restart : </div>
				<input type="number" step="100" min="0" class="bl--text-input" [(ngModel)]="slideshow.restart" />
			  </label>
			</div>
		</div>
	</div>
</div>

