<div class="container inner-container">
  <h3 class="hr">SlideShow</h3>
  <div class="row">
      <div class="col-md-4">
        <label class="col-lg-12 overwritePadding">Autoplay :
          <select  class="form-control" [(ngModel)]="slideshow.autoplay" >
            <option value="0" ng-selected="slideshow.autoplay == 0"> false </option>
            <option value="1" > true </option>
          </select>
        </label>
      </div>
      <div class="col-md-4">
        <label class="col-lg-12 overwritePadding">Interval :
          <input type="number" step="100" min="0" class="form-control "[(ngModel)]="slideshow.interval" />
        </label>
      </div>
      <div class="col-md-4">
        <label class="col-lg-12 overwritePadding">Restart :
          <input type="number" step="100" min="0" class="form-control " [(ngModel)]="slideshow.restart" />
        </label>
      </div>
  </div>
</div>

