<input type="text" [(ngModel)]="link.cssClass" class="link-component-css-class format" placeholder="Enter css class.." />
<input type="text" [(ngModel)]="link.style" class="link-component-style format" placeholder="Enter the style..." />
<input type="text" [(ngModel)]="link.text" class="link-component-text format" placeholder="Enter the text..." />
<input type="text" [(ngModel)]="link.tooltip" class="link-component-tooltip format" placeholder="Enter the tooltip..." />
<input type="text" [(ngModel)]="link.url" class="link-component-url format" placeholder="Enter the url..." />
