<div class="link-container hr">
  <div class = "row">
    <div class="col-lg-6">
      <label class="col-lg-12">Css Class :
          <input type="text" [(ngModel)]="link.cssClass" class="form-control" placeholder="Enter Css class.." />
      </label>
    </div>
    <div class="col-lg-6">
      <label class="col-lg-12"> Style :
          <input type="text" [(ngModel)]="link.style" class="form-control" placeholder="Enter Style..." />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" (click)="loadResource()">
      <!-- <label class="col-lg-12"> Text :
          <input type="text" [(ngModel)]="link.text" class="form-control" placeholder="Enter Text..." />
      </label> -->
      <label>Text: </label>
      <select class="form-control" [(ngModel)]="link.text">
        <option *ngFor="let resource of resources" value="resource" >{{resource}}</option>
        </select>
    </div>
    <div class="col-lg-6">
      <label class="col-lg-12"> Tooltip :
          <input type="text" [(ngModel)]="link.tooltip" class="form-control" placeholder="Enter Tooltip..." />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <label class="col-lg-12"> Url :
          <input type="url" [(ngModel)]="link.url" pattern="^(https|http)://.*" class="form-control" placeholder="Enter Url..." />
      </label>
    </div>
  </div>
</div>
