<div class="jumbotron">
  <legend>Item</legend>
  <input type="number" class="form-control" [(ngModel)]="itm.id" placeholder="Enter id" readonly/>
  <input type="text" [(ngModel)]="itm.backgroundUrl" class="form-control" placeholder="Enter backgroundUrl"/>
  <input type="color" class="form-control" [(ngModel)]="itm.backgroundColor" />
  <input type="text" class="form-control" [(ngModel)]="itm.name" placeholder="Enter name" />
  <input type="number" class="form-control" [(ngModel)]="itm.type" placeholder="Enter type" />
<!--<div class="jumbotron">-->
  <bl-carousel-components [comp]="itm.components"></bl-carousel-components>
</div>
