<div class="container inner-container">
  <h3 class="hr"> Types </h3>
  <div class="row">
    <div class="col-lg-4">
        <label class="col-lg-12 overwritePadding"> Standard : 
            <input type="text" class="form-control" [(ngModel)]="type.standard"/>
        </label>
    </div>
    <div class="col-lg-4">
        <label class="col-lg-12 overwritePadding"> Custom : 
            <input type="text" class="form-control" [(ngModel)]="type.custom"/>
        </label>
    </div>
    <div class="col-lg-4">
        <label class="col-lg-12 overwritePadding"> Custom Template : 
            <input type="text" class="form-control" [(ngModel)]="type.customTemplate"/>
        </label>
    </div>
  </div>
</div>


