<div class="container inner-container">
  <h3 class="hr"> Types </h3>
  <div class="row">
    <div class="col-lg-4">
        <label class="col-lg-12"> Standard : 
            <input type="text" class="form-control" [(ngModel)]="type.standard" placeholder="Enter Standard..." />
        </label>
    </div>
    <div class="col-lg-4">
        <label class="col-lg-12"> Custom : 
            <input type="text" class="form-control" [(ngModel)]="type.custom" placeholder="Enter Custom..." />
        </label>
    </div>
    <div class="col-lg-4">
        <label class="col-lg-12"> Custom Template : 
            <input type="text" class="form-control" [(ngModel)]="type.customTemplate" placeholder="Enter Custom template..." />
        </label>
    </div>
  </div>
</div>


