<div class="item-container">

  <div class="row">

    <div class="col-lg-6">

      <div class="row">
        <div class="col-lg-12">
            <h4 class="boldText"> Item id </h4>
            <input type="number" class="form-control" [(ngModel)]="itm.id" readonly/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
        <label class="col-lg-12"> Background Url :
          <input type="text" [(ngModel)]="itm.backgroundUrl" class="form-control" placeholder="Enter backgroundUrl"/>
        </label>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <label> Background color </label>
      <input type="color" class="form-control size" [(ngModel)]="itm.backgroundColor" />
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6">
      <label class="col-lg-12"> Name :
        <input type="text" class="form-control" [(ngModel)]="itm.name" placeholder="Enter Name" />
      </label>
    </div>
    <div class="col-lg-6">
      <label class="col-lg-12"> Type :
        <input type="number" class="form-control" [(ngModel)]="itm.type" placeholder="Enter Type" />
      </label>
    </div>
  </div>
  <bl-carousel-components [comp]="itm.components" ></bl-carousel-components>
  <button class="btn btn-primary btn-add-new pull-right addItem-btn" (click)="addItem()">Add new item</button>
</div>
