<div class="container">

  <bl-carousel-i18n
    [languages]="LANGUAGES"
    [addNewLanguage]="addNewLanguage"
    [addNewResource]="addNewResource"
    [arrayOfI18n]="languages"></bl-carousel-i18n>

  <bl-carousel-slideshow [slideshow]="slideshow"></bl-carousel-slideshow>

  <bl-carousel-types [type]="type"></bl-carousel-types>

  <bl-carousel-settings [setting]="setting"></bl-carousel-settings>


  <div class="container inner-container">
    <h3> Items </h3>
    <hr />
    <div *ngFor="let item of items">
      <bl-carousel-single-item [itm]="item"></bl-carousel-single-item>
    </div>
    <button class="btn btn-primary btn-add-new pull-right"  style="margin-top : 10px" (click)="addItem()">Add new item</button>
  </div>
</div>

<div class="container">
  <div class="container inner-container">
    <button id="export" class="btn btn-primary pull-left" style="display:inline-block; margin: 0 10px 10px 0" (click)="inp.value=exportItems()">Export</button>
    <button id="import" class="btn btn-primary pull-left" style="display:inline-block" (click)="importItems(inp.value)">Import</button>
    <textarea #inp class="result" placeholder="Result JSON"> </textarea>
  </div>
</div>
