<button class="btn btn-info" (click)="addItem()">Add Item</button>
<div *ngFor="let item of items">
  <bl-carousel-single-item [itm]="item"></bl-carousel-single-item>
</div>
<button class="btn btn-success" (click)="inp.value=exportItems()">Export</button>
<button class="btn btn-primary" (click)="importItems(inp.value)">Import</button>
<textarea #inp class="result"></textarea>
<bl-carousel-slideshow [slideshow]="slideshow"></bl-carousel-slideshow>
<bl-carousel-types [type]="type"></bl-carousel-types>
<bl-carousel-settings [setting]="setting"></bl-carousel-settings>
