<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="hr aligned"> Carousel configurator </h2>
      <bl-carousel-carousel-item-list></bl-carousel-carousel-item-list>
    </div>
    <div class="col-lg-6">
      <div data-ng-app="bl.login" data-ng-controller="LoginCarouselController">

      </div>
        <!-- <login-carousel cssns="bl--login-carousel" animation="slide"></login-carousel> -->
        <!-- <bl-carousel-carousel-item-list></bl-carousel-carousel-item-list> -->
        <div> LOGIN </div>
    </div>
  </div>
</div>
