.topRightMargin {
    margin: 10px 0 0 10px;
}

.marginTop {
    margin-top: 25px;
    display : inline-block;
}
.fr {
  float: right;
}

.marginLeftRight {
    margin : 0px 10px 0px 20px;
    display : inline-block;
}

.buttonWidth {
    width : 80px;
    font-size: 12px;
}