<div class="container inner-container">
  <h3 class="hr"> Languages </h3>
  <div *ngFor="let i18n of languages">
    <div class="row hr">

      <div class="col-lg-2">
        <label class="col-lg-12"> Language {{languages.indexOf(i18n) + 1}} :
          <select class="form-control" [(ngModel)]="i18n.name">
            <option *ngFor="let lang of selectableLanguages" [value]="lang"> {{lang}} </option>
          </select>
        </label>
      </div>

      <div class="col-lg-10">
        <div class="row" *ngFor="let element of i18n.resources">
          <div class="col-lg-6">
            <label class="col-lg-12"> Resource Name :
              <input type="text" class="form-control" [(ngModel)]="element.name" placeholder="Enter Resource Name" />
            </label>
          </div>
          <div class="col-lg-6">
            <label class="col-lg-12"> Resource Description :
              <input type="text" class="form-control" [(ngModel)]="element.value" placeholder="Enter Resource Description" />
            </label>
            <button type="button" class="btn btn-primary fr" (click)="removeResource(element,i18n.resources)">Delete resource</button>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-add-new pull-right topRightMargin" (click)="addNewResource(i18n)">Add new resource</button>
  </div>
  <button type="button" class="btn btn-primary btn-add-new pull-right topRightMargin" (click)="addNewLanguage()">Add new language</button>
</div>

