<div class="td-container">
  <h4 class="hr"> Description </h4>
  <div class="row">
    <div class="col-lg-4 ">
      <label class="col-lg-12 overwritePadding"> Css class : <input type="text" class="form-control" placeholder="Enter Css class" [(ngModel)]="description.cssClass" /></label>
    </div> 
    <div class="col-lg-4">
      <label class="col-lg-12 overwritePadding"> Style : <input type="text" class="form-control" placeholder="Enter Style" [(ngModel)]="description.style" /> </label>
    </div> 
    '<div class="col-lg-4"> 
        <div class="col-lg-4 overwritePadding"> 
          <label class="noPadding"> Lang : </label>
          <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" (click)="onClick()">{{selectedLanguage}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" *ngIf="showDropdown">
                  <li *ngFor="let language of defaultLanguages" (click)="onSelect(language)">
                      <img [src]="language.img" class="iconStyle"/>{{language.lang}}
                  </li>
              </ul>
            </div>
        </div>
        <label class="col-lg-6 overwritePadding" > Text :
            <input type="text" class="form-control" placeholder="Enter resourece" [(ngModel)]="resourceValue" (blur)="saveResource(resourceValue)"/>
        </label>
    </div>'
  </div>
</div>
