<div class="td-container" class="hr">
  <h4 class="hr"> Description </h4>
  <div class="row">
    <div class="col-lg-4">
      <label class="col-lg-12"> Css class : <input type="text" class="form-control" placeholder="Enter Css class" [(ngModel)]="description.cssClass" /></label>
    </div> 
    <div class="col-lg-4">
      <label class="col-lg-12"> Style : <input type="text" class="form-control" placeholder="Enter Style" [(ngModel)]="description.style" /> </label>
    </div> 
    <div class="col-lg-4">
      <label class="col-lg-12"> Text : <input type="text" class="form-control" placeholder="Enter Text" [(ngModel)]="description.text" /></label>   
    </div> 
  </div>
</div>
